/Consultoria em Marketing
.col-md-12
  %p.text.margin-bottom-60
    Para empresas que necessitam de serviços pontuais, obtendo estudos diferenciados e desenvolvendo estratégias na medida correta, a consultoria em marketing visa complementar o planejamento de negócios executado pela sua empresa, assim como o levantamento de informações imprescindíveis de mercado.
%section.highlight
  .container-fluid
    .row
      .cycle-slideshow
        .show-slide-box
          =image_tag("bg-fazemos.jpg", :class => "fixed-highlight")
          .container.show_text_highlight
            %p.text-center.text-uppercase.text-highlight.what_we_do O que fazemos:
.col-md-12
  %h2 Pesquisa de Mercado
  %p.text
    Pesquisa completa envolvendo a coleta e análise de informações de mercado através de métodos quantitativos e qualitativos que auxiliam a empresa na tomada de decisões estratégicas.
  %h3 Etapas
  .row
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 1ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_identificacao.png")
        %br
        %br
        Identificação e definição dos objetivos de pesquisa e identificação das necessidades da organização;
      %p.col-md-2.text-center
        =image_tag("services/arrow.png", :class => "img_arrow")
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 2ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_coleta.png")
        %br
        %br
        Coleta de dados secundários para análise plena do ambiente competitivo;
      %p.col-md-2.text-center
        =image_tag("services/arrow.png", :class => "img_arrow")
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 3ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_elaboracao.png")
        %br
        %br
        Elaboração e aplicação de questionários e/ou roteiros de entrevista junto ao público alvo da empresa;
      %p.col-md-2.text-center
        =image_tag("services/arrow.png", :class => "img_arrow")
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 4ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_analise_dados.png")
        %br
        %br
        Análise dos dados e informações coletadas, formatação do relatório estruturado e apresentação ao cliente. 
  %h2 Planejamento Estratégico de Marketing
  %p.text
    Definição e elaboração de estratégias de marketing, tendo como base a estrutura coorporativa e o posicionamento da empresa, visando a resolução de problemas através da identificação das reais necessidades do mercado.
  %h3 Etapas
  .row
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 1ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_compreeensao.png")
        %br
        %br
        Compreensão e definição dos objetivos da empresa e parâmetros do planejamento;
      %p.col-md-2.text-center
        =image_tag("services/arrow.png", :class => "img_arrow")
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 2ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_analise.png")
        %br
        %br
        Análise do ambiente interno e externo da organização para identificação de oportunidades e fragilidades;
      %p.col-md-2.text-center
        =image_tag("services/arrow.png", :class => "img_arrow")
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 3ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_definicao_estra.png")
        %br
        %br
        Definição de estratégias e planos de ação, tendo em vista as metas deliberadas;
      %p.col-md-2.text-center
        =image_tag("services/arrow.png", :class => "img_arrow")
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 4ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_analise_result.png")
        %br
        %br
        Análise dos resultados e metodologias de controle e feedback. 
  
  %h2 Estudo de Viabilidade ou Análise de Viabilidade
  %p.text
    Pesquisa direcionada ao lançamento ou implementação de um novo produto, serviço ou marca no mercado. Compreende análises precisas voltadas para a identificação do sucesso ou fracasso do novo conceito elaborado pela empresa. 
  %h3 Etapas
  .row.margin-bottom-60
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 1ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_ident_entedi.png")
        %br
        %br
        Identificação e entendimento da nova proposta da empresa;
      %p.col-md-2.text-center
        =image_tag("services/arrow.png", :class => "img_arrow")
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 2ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_anlise_merc.png")
        %br
        %br
        Análise mercadológica em busca de possíveis ações semelhantes por parte de organizações concorrentes;
      %p.col-md-2.text-center
        =image_tag("services/arrow.png", :class => "img_arrow")
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 3ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_elaboracao.png")
        %br
        %br
        Aplicação de pesquisas envolvendo metodologias como teste de conceito e avaliação de atratividade junto ao público alvo;
      %p.col-md-2.text-center
        =image_tag("services/arrow.png", :class => "img_arrow")
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title 4ºPasso
      %p.col-md-10.text-center
        =image_tag("services/consultoria_avali_dados.png")
        %br
        %br
        Avaliação dos dados coletados e recomendação de ações à empresa contratante.