/Marketing Estrategico Integrado Grupo Sato7
.col-md-12
  %p.text
    A Kattios Marketing, integrada às empresas do Grupo Sato7, disponibiliza aos seus clientes um serviço completo que une a comunicação full service à expertise de análises sólidas de mercado, oferecendo uma estrutura completa e ampla para empresas que necessitam de planos aprimorados e abrangentes de comunicação e marketing.
  %p.text.margin-bottom-60
    Através das parcerias sólidas do Grupo Sato7, a Kattios Marketing alia ao seu escopo de serviços, a inovação estratégica do marketing com a comunicação publicitária e institucional, elaborando o planejamento estratégico definitivo para a sua empresa.
%section.highlight
  .container-fluid
    .row
      .cycle-slideshow
        .show-slide-box
          =image_tag("bg-fazemos.jpg", :class => "fixed-highlight")
          .container.show_text_highlight
            %p.text-center.text-uppercase.text-highlight.what_we_do O que fazemos:
.col-md-12
  %h2 Planejamento
  %p.text
    Planejamento e execução de ações de marketing e comunicação, tornando o processo ágil e trazendo maiores benefícios orçamentários. Dentro do escopo de trabalho, os seguintes itens são contemplados:
  .row.margin-top-20
    .col-md-3.col-md-offset-1.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/mark_inte_planej_est.png")
        %br
        %br
        Planejamento estratégico de comunicação; 
    .col-md-3.col-md-offset-1.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/mark_inte_planej_market.png")
        %br
        %br
        Planejamento de marketing;
    .col-md-3.col-md-offset-1.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/mark_inte_estrategia_pub.png")
        %br
        %br
        Estratégias publicitárias; 
  %h2 Desenvolvimento e avaliação do design de marca, produtos e meios web
  %p.text
    Ativar o seu produto ou serviço no mercado vai além de promovê-lo em pontos de vendas ou evidenciá-lo em um canal de comunicação. Todo o planejamento é necessário para que haja sucesso na empreitada de lançamento ou consolidação de seu produto ou serviço.
  %p.text
    O Grupo Sato7 disponibiliza toda a estrutura necessária de designers e programadores para executar as melhores práticas de comunicação e marketing nas plataformas web e off-line.    
  .row.margin-top-20
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.col-md-offset-1.text-center
        =image_tag("services/mark_inte_design.png")
        %br
        %br
        Design;
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.col-md-offset-1.text-center
        =image_tag("services/mark_inte_desenvolvimento.png")
        %br
        %br
        Desenvolvimento e gestão de sites e aplicativos;
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.col-md-offset-1.text-center
        =image_tag("services/mark_inte_planej_midia.png")
        %br
        %br
        Planejamento, gestão e monitoramento de Mídias sociais;
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.col-md-offset-1.text-center
        =image_tag("services/mark_inte_ativacao.png")
        %br
        %br
        Ativação completa de marcas (produtos e serviços);
  
  %h2 Assessoria de imprensa
  %p.text.margin-bottom-60
    O Grupo Sato7 oferece o serviço de assessoria de imprensa ao cliente, contemplando a última lacuna da comunicação full service. Com profissionais especializados e focados na geração de mídia espontânea, todo o planejamento torna-se completo para atender suas necessidades.
