/Marketing Estrategico Integrado Grupo Sato7
.col-md-12
  %p.text
    Marketing ao alcance de todos! Por meio da terceirização do departamento de marketing da sua empresa, obtenha índices de mercado atualizados, incremente suas ferramentas mercadológicas e execute ações diferenciadas em sua empresa, sem o ônus relacionado a criação de um setor estruturado interno.
  %p.text.margin-bottom-60
    A Kattios Marketing oferece diversos serviços de acompanhamento e execução para que sua empresa ganhe em tempo, agilidade e custos, com uma equipe focada e dedicada ao estudo de todos os meandros mercadológicos e institucionais que cercam a organização.
    %br
    Com um time multidisciplinar experiente, a Kattios Marketing está preparada para atender os mais diversos segmentos de mercado com conhecimento e experiência.    
%section.highlight
  .container-fluid
    .row
      .cycle-slideshow
        .show-slide-box
          =image_tag("bg-fazemos.jpg", :class => "fixed-highlight")
          .container.show_text_highlight
            %p.text-center.text-uppercase.text-highlight.what_we_do O que fazemos:
.col-md-12
  %h2 Planejamento
  %p.text
    Planejamento na medida certa para o seu negócio, respeitando o orçamento disponibilizado e atento com às reais necessidades da empresa.
  .row.margin-top-20
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.col-md-offset-1.text-center
        =image_tag("services/mark_inte_design.png")
        %br
        %br
        Planejamento estratégico de marketing;
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.col-md-offset-1.text-center
        =image_tag("services/mark_inte_desenvolvimento.png")
        %br
        %br
        Plano de vendas;
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.col-md-offset-1.text-center
        =image_tag("services/mark_inte_planej_midia.png")
        %br
        %br
        Inserção de produtos no mercado;
    .col-md-3.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.col-md-offset-1.text-center
        =image_tag("services/mark_inte_ativacao.png")
        %br
        %br
        Definição e implementação de ações de mercado.
  
  
  %h2 Pesquisas
  %p.text
    Pesquisas periódicas e estratégicas com o levantamento de informações sobre o seu público alvo, tendências e índices mercadológicos. 
  .row.margin-top-20
    .col-md-3.col-md-offset-1.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/mark_terc_analise.png")
        %br
        %br
        Análises mercadológicas;
    .col-md-3.col-md-offset-1.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/mark_terc_pesquisa.png")
        %br
        %br
        Pesquisas quantitativas e qualitativas;
    .col-md-3.col-md-offset-1.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/mark_terc_interno.png")
        %br
        %br
        Ambiente interno. 
  
  
  
  
  
  %h2 Relatórios
  %p.text.margin-bottom-60
    Relatórios mensais de desempenho, mensurando os índices corporativos constatados através das diversas ações implementadas no período, evidenciando todos os benefícios do marketing ativo em sua empresa.