/Assessoria de Marketing Digital
.col-md-12
  %p.text
    A internet representa uma poderosa ferramenta de marketing. Com o Brasil destacando-se como o 5º país mais conectado à rede no mundo, divulgar produtos e serviços na web tornou-se uma necessidade, que visa incrementar as vendas e estreitar o relacionamento com o cliente. Dessa forma, torna-se fundamental que a sua empresa esteja figurando na web entre as principais do setor.
  %p.text
    Com o fluxo de informações cada vez mais dinâmico e a internet integrada aos diversos meios de comunicação, é indispensável um planejamento que abranja não apenas as plataformas certas, mas também as ferramentas adequadas, focadas nas necessidades e no mix de marketing da sua empresa.
  %p.text.margin-bottom-60
    A Kattios Marketing oferece um amplo escopo de serviços voltados à internet, sendo a solução ideal para diversas organizações que buscam incrementar sua representatividade digital.
%section.highlight
  .container-fluid
    .row
      .cycle-slideshow
        .show-slide-box
          =image_tag("bg-fazemos.jpg", :class => "fixed-highlight")
          .container.show_text_highlight
            %p.text-center.text-uppercase.text-highlight.what_we_do O que fazemos:
.col-md-12
  %h2 Marketing Digital
  .row.margin-top-20
    .col-md-4.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/mark_terc_analise.png")
        %br
        %br
        Lançamento de sites e plataformas e-commerce, com planejamento das ações necessárias ao sucesso da marca no ambiente digital.
    .col-md-4.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/consultoria_analise.png")
        %br
        %br
        Análise estatística do cenário para uma visão 360º do mercado no qual a empresa atuará.
    .col-md-4.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/mark_inte_planej_est.png")
        %br
        %br
        Parceria > A Kattios Marketing conta com uma parceria fixa com a Agência Sato7 Comunicação Estratégica para o desenvolvimento de sites, e-commerces e SEO,  facilitando a sua concepção, otimização e redução de custos.
  %h2 Conteúdo
  %p.text
    Conteúdo original para sua plataforma, direcionado especificamente a seu público alvo, possibilitando conteúdos expressivos e gerando credibilidade. Na internet, ser um formador de opinião e fonte de conteúdo relevante é um diferencial cada vez mais impactante, sendo fundamental para destacar a empresa perante a concorrência.
  %h2 Estudo de ação para plataformas Móbile 
  %p.text
    Com o surgimento de novas plataformas, é necessário que a inclusão nesse novo território tecnológico ocorra com foco e precisão. Desta forma, a equipe da Kattios Marketing executa um planejamento minucioso de todas as variaveis envolvida nas multiplas plataformas, direcionando as melhores práticas de marketing integradas à tecnologia mobile.
  %h2 Gerenciamento de Links Patrocinados
  %p.text
    Gerenciamento de campanhas em sites de busca e notícias, elencando os melhores locais para otimizar sua visibilidade e utilizar-se destas ferramentas para impulsionar as vendas.
  %h2 Ações em Mídias Sociais
  %p.text
    Através de um planejamento detalhado, será exposto à empresa as melhores redes para inserção da marca e práticas de marketing perante seu público de interesse. A partir dos objetivos delimitados para as mídias sociais, as ações definidas pela equipe da Kattios Marketing culminam em uma série de beneficios: 
  .row.margin-top-20
    .col-md-2.col-md-offset-1.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/mark_terc_analise.png")
        %br
        %br
        Exposição eficiente da sua marca;
    .col-md-2.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/consultoria_coleta.png")
        %br
        %br
        Informações a cerca do público-alvo;
    .col-md-2.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/consultoria_compreeensao.png")
        %br
        %br
        Conquista de credibilidade;
    .col-md-2.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/consultoria_avali_dados.png")
        %br
        %br
        Anúncio direcionado de seu produto / serviço;
    .col-md-2.show-service
      %p
        =image_tag("ico-customer.png")
        %span.service-title
      %p.col-md-10.text-center
        =image_tag("services/consultoria_analise_result.png")
        %br
        %br
        Incremento das vendas e geração de contatos importantes e relevantes.
  %h2	Aplicação de Pesquisas 
  %p.text
    Pesquisa online quantitativa e qualitativa junto aos públicos de interesse em diversas redes no ambiente digital.
  %h2 E-mail Marketing 
  %p.text
    Uma das plataformas de comunicação digital mais tradicionais, eficiente e de baixo custo. Através da Kattios Marketing, você saberá com precisão o momento ideal para o envio, para quem se deve direcionar e a relevância que esta ação surtirá em seus negócios.
  %p.text
    Parceria > A Kattios Marketing e a Agência Sato7 Comunicação Estratégica trabalham em conjunto para que a execução das ações de e-mail marketing seja completa, disponibilizando uma equipe de designers, redatores e estrategistas, que viabilizam a melhor execução do mercado com custos excelentes.
  %h2	Estratégias especiais 
  %p.text.text.margin-bottom-60
    Implementação de estratégias direcionadas para o seu negócio, atingindo seu público alvo de modo eficiente. Disponibilizando de diversas ações no ambiente, a equipe da Kattios Marketing vai auxiliar sua empresa a destacar-se cada vez mais na web.