%section.interna
  .container-fluid
    .row
      .container
        .row
          %h1= @category.title
          
  .container
    -@services.each do |service|
      .row
        .col-sm-12
          %h2= service.title
          
        
          -if service.service_images.exists?
            -service.service_images.sort_by{|t| - t.order}.recent(3).each do |image|
              .col-sm-4
                =image_tag(image.img_service(:thumb), :class => "img-responsive") if image.img_service.file?
      .row.description
        .col-sm-12
          %h3= service.subtitle
          %p
            =service.description
          
          
= render :file => "layouts/_services_box.html.haml"
