%section.interna
  .container-fluid
    .row
      .container
        .row
          %h1=@category.title
          
  .container
    .row
      .col-sm-12
        %h2=@service.title
        
        -contador=0  
        -if @service.service_images.exists?
          -@service.service_images.sort_by{|t| - t.order}.recent(4).each do |image|
            -if contador==0
              .col-sm-12.imagem-principal
                =image_tag(image.img_service.url(:default), :class => "img-responsive")
              -contador=1
            -else
              .col-sm-3
                =image_tag(image.img_service.url(:default), :class => "img-responsive")
          
      .row.description
        .col-sm-12
          %h3= @service.subtitle
          %p= @service.description
          
= render :file => "layouts/_services_box.html.haml"
