%section.highlight.hidden-xs
  .container-fluid
    .row
      .cycle-slideshow
        .show-slide-box
          =image_tag("bg-institucional.jpg", :class => "hidden-xs fixed-highlight")
          .container.show_text_highlight
            %p.text-center.text-uppercase.text-highlight=@service.title
            /%p.text-center.text-highlight.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
%section.interna#services
  .container-fluid
    .row
      .container
        %p.breadcrumb 
          > Kattios/Serviços/
          =@service.title
        - if File.exist?("#{Rails.root }/app/views/services/_#{@service.id}.html.haml")
          =render :file => "services/_#{@service.id}.html.haml"
        - else
          %p Nenhuma informação disponivel no momento!
