%section.interna
  .container-fluid
    .row
      .container
        .row
          %h1 a empresa
          
  .container
    .row
      .col-sm-4
        =image_tag(@about.image1.url, :class => "img-responsive", :style=>"max-height:202px")
        
      .col-sm-4
        =image_tag(@about.image2.url, :class => "img-responsive", :style=>"max-height:202px")
        
      .col-sm-4
        =image_tag(@about.image3.url, :class => "img-responsive")
        
        
    .row.description
      .col-sm-12
        %h3 Quem somos
        %p
          =@about.text1
          
    .row
      .col-sm-4
        =image_tag(@about.image4.url, :class => "img-responsive")

      .col-sm-4
        =image_tag(@about.image5.url, :class => "img-responsive")

      .col-sm-4
        =image_tag(@about.image6.url, :class => "img-responsive")  
        
        
    .row.description
      .col-sm-12
        %h3 Nossa Missão
        %p
          =@about.text2
    
    
    .row.description
      .col-sm-12
        %h3 Nossa Visão
        %p
          =@about.text3
    
          
= render :file => "layouts/_services_box.html.haml"
