%section.highlight.hidden-xs
  .container-fluid
    .row
      .cycle-slideshow
        .show-slide-box
          =image_tag("bg-institucional.jpg", :class => "hidden-xs fixed-highlight")
          .container.show_text_highlight
            %p.text-center.text-uppercase.text-highlight SOBRE A KATTIOS
            /%p.text-center.text-highlight.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
%section.interna#about_us
  .container-fluid
    .row
      .container
        %p.breadcrumb > Kattios/Institucional
        .col-md-12
          %p.text
            A Kattios foi idealizada por empreendedores dos setores da comunicação e marketing, com o intuito de fornecer suporte e elementos mercadológicos aos empresários e administradores dos mais diversos segmentos de mercado. 
          %p.text
            A Kattios Marketing oferece serviços completos para atender às necessidades da sua empresa, por meio de uma consultoria especializada ou assessoria full time para o seu negócio. Com uma equipe de profissionais qualificados, fornecemos soluções precisas e inovadoras, visando sempre a otimização dos ganhos de sua empresa.
          %p.text
            Temos como missão, conhecer e atender com eficiência as reais necessidades mercadológicas de nossos clientes, oferecendo serviços de extrema qualidade, evidenciando a realidade de mercado e contribuindo diretamente para o sólido crescimento de todas as empresas parceiras.
          %p.text
            Para o sucesso de nossos clientes, a Kattios segue os sete passos para a ascensão:
        .col-md-12#img_about
          %p.text-center
            =image_tag("img-about.png", :class=>"img-responsive center-block")
