%section.interna
  .container-fluid
    .row
      .container
        .row
          %h1 nossos trabalhos
          
%section.cases
  .container
    .row
      .col-sm-6
        %h3 All Seg Seguros
        =image_tag("/assets/template/case.jpg", :class => "img-responsive shadow-left")
        %a
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

      .col-sm-6
        %h3 Colcci Store
        =image_tag("/assets/template/case.jpg", :class => "img-responsive shadow-right")
        %a
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.


    .row
      .col-sm-6
        %h3 Única Acabamentos
        =image_tag("/assets/template/case.jpg", :class => "img-responsive shadow-left")
        %a
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

      .col-sm-6
        %h3 Humanitariam
        =image_tag("/assets/template/case.jpg", :class => "img-responsive shadow-right")
        %a
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

          
= render :file => "layouts/_services_box.html.haml"