%section.interna
  .container-fluid
    .row
      .container
        .row
          %h1 nossos trabalhos
          
%section.cases
  .container
    -class_changer=1
    -cclass="shadow-left"
    -row="<div class='row'>"
    -@cases.each do |caso|
      =raw(row)
      .col-sm-6
        %h3= caso.title
        =image_tag(caso.main_img.url(:to_home), :class => "img-responsive #{cclass}")
        =link_to caso.resume, case_path(caso.id)
      -if class_changer % 2 == 0 || @cases.count==class_changer
        -cclass="shadow-left"
        -row=""
        =raw('</div>') 
      -else
        -cclass="shadow-right"
        -row="<div class='row'>"
      -class_changer+=1

          
= render :file => "layouts/_services_box.html.haml"
