%section.interna
  .container-fluid
    .row
      .container
        .row
          %h1 nossos trabalhos
          
  .container
    .row
      .col-sm-12
        %h2= @case.title
        
      .col-sm-12.imagem-principal
        =image_tag(@case.main_img.url(:big), :class => "img-responsive") if @case.main_img.file?
        
      .col-sm-4
        =image_tag(@case.img1.url(:small), :class => "img-responsive") if @case.main_img.file?
                
      .col-sm-4
        =image_tag(@case.img2.url(:small), :class => "img-responsive") if @case.main_img.file?
        
      .col-sm-4
        =image_tag(@case.img3.url(:small), :class => "img-responsive") if @case.main_img.file?
        
        
    .row.description
      .col-sm-12
        %h3= @case.subtitle
        %p
          =raw(@case.description)
          
          
= render :file => "layouts/_services_box.html.haml"
