-content_for :head do
  =stylesheet_link_tag "cases.css"
  
%section.interna
  .container-fluid
    .row
      .container
        .row
          %h1 nossos trabalhos
          
  .container
    .row
      .col-sm-12
        %h2= @case.title
        
      .col-sm-12.imagem-principal
        =link_to image_tag(@case.main_img.url(:big), :class => "img-responsive"),@case.main_img.url(:original),:class=>"gallery", :rel=>"imgs" if @case.main_img.file?
        
      .col-sm-4
        =link_to image_tag(@case.img1.url(:small), :class => "img-responsive"),@case.img1.url(:original),:class=>"gallery", :rel=>"imgs" if @case.main_img.file?
                
      .col-sm-4
        =link_to image_tag(@case.img2.url(:small), :class => "img-responsive"),@case.img2.url(:original),:class=>"gallery", :rel=>"imgs" if @case.main_img.file?
        
      .col-sm-4
        =link_to image_tag(@case.img3.url(:small), :class => "img-responsive"),@case.img3.url(:original), :class=>"gallery", :rel=>"imgs" if @case.main_img.file?
        
        
    .row.description
      .col-sm-6
        %h3= @case.subtitle
        %p
          =raw(@case.description)
      .col-sm-6
        %h3 Materiais Utilizados
        %ul.material-list
          -@case.materials.all.each do |m|
            %li=link_to "#{m.title}", material_path(m), :class => "materiais", "data-fancybox-type" =>"iframe"
          
          
= render :file => "layouts/_services_box.html.haml"


-content_for(:footer) do
  :javascript
    $(document).ready(function() {
      $("a.gallery").fancybox({
        'transitionIn'	:	'elastic',
        'transitionOut'	:	'elastic',
        'speedIn'		:	600, 
        'speedOut'		:	200, 
        'overlayShow'	:	false
      });
      
      $(".materiais").fancybox({
        'transitionIn'	:	'elastic',
        'transitionOut'	:	'elastic',
        'speedIn'		:	600, 
        'speedOut'		:	200, 
        'overlayShow'	:	false
      });
    });
