%section#content
  .container-fluid
    %h1 Mensagem enviada com sucesso
    .content-box
      %p.text-center
        Em breve entraremos em contato!
        %br
        %br
        Atenciosamente,
        %br
        %br
        Equipe Cancelata
    .clearfix
