-content_for :head do
  =stylesheet_link_tag "home.css"

%section.highlight
  .container-fluid
    .row
      .col-sm-12.background.cycle-slideshow{"data-cycle-fx"=>"scrollHorz"}
        -@highlights.each do |h|
          =image_tag(h.image_highlight.url, :class =>"img-responsive")

%section.text
  .container
    .row
      .col-sm-12
        %h2.text-center
          NÃO SOMOS SÓ MAIS UMA <span>AGÊNCIA DE COMUNICAÇÃO</span> NO MERCADO
          PROPOMOS <span>SOLUÇÕES MAIS INTELIGENTES</span> PARA SUA EMPRESA
          
= render :file => "layouts/_services_box.html.haml"
          
          
%section.cases
  .container
    .row
      .col-sm-6
        %h3 All Seg Seguros
        =image_tag("/assets/template/case.jpg", :class => "img-responsive shadow-left")
        %a
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      
      .col-sm-6
        %h3 Colcci Store
        =image_tag("/assets/template/case.jpg", :class => "img-responsive shadow-right")
        %a
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          
          
    .row
      .col-sm-6
        %h3 Única Acabamentos
        =image_tag("/assets/template/case.jpg", :class => "img-responsive shadow-left")
        %a
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

      .col-sm-6
        %h3 Humanitariam
        =image_tag("/assets/template/case.jpg", :class => "img-responsive shadow-right")
        %a
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      
%section.customers
  .container
    .row
      .col-sm-12.list
        .row
          .col-sm-2
            =image_tag("/assets/clientes/boticario.jpg", :class => "img-responsive")
          .col-sm-2
            =image_tag("/assets/clientes/nautilus.jpg", :class => "img-responsive")                
          .col-sm-2
            =image_tag("/assets/clientes/colcci.jpg", :class => "img-responsive")
          .col-sm-2
            =image_tag("/assets/clientes/vivo.jpg", :class => "img-responsive")
          .col-sm-2
            =image_tag("/assets/clientes/volks.jpg", :class => "img-responsive")
          .col-sm-2
            =image_tag("/assets/clientes/porto.jpg", :class => "img-responsive")