-content_for :head do
  =stylesheet_link_tag "home.css"

%section.highlight
  .container-fluid
    .row
      .col-sm-12.background.cycle-slideshow{"data-cycle-slides"=>"> a", "data-cycle-prev" =>"#prev", "data-cycle-next" => "#next"}
        -@highlights.each do |h|
          =link_to image_tag(h.image_highlight.url, :class =>"img-responsive"), h.link, :target=>"_blank"
        
        .next_prev.col-sm-12
          #prev.col-xs-6.text-left <
          #next.col-xs-6.text-right >

%section.text
  .container
    .row
      .col-sm-12
        %h2.text-center
          NÃO SOMOS SÓ MAIS UMA <span>AGÊNCIA DE COMUNICAÇÃO</span> NO MERCADO
          PROPOMOS <span>SOLUÇÕES MAIS INTELIGENTES</span> PARA SUA EMPRESA
          
= render :file => "layouts/_services_box.html.haml"
          
          
%section.cases
  .container
    -class_changer=1
    -cclass="shadow-left"
    -row="<div class='row'>"
    -@cases.each do |caso|
      =raw(row)
      .col-sm-6
        %h3= caso.title
        =link_to(image_tag(caso.main_img.url(:to_home), :class => "img-responsive #{cclass}"), case_path(caso.id))
        =link_to raw(caso.resume), case_path(caso.id)
      -if class_changer % 2 == 0 || @cases.count==class_changer
        -cclass="shadow-left"
        -row=""
        =raw('</div>') 
      -else
        -cclass="shadow-right"
        -row="<div class='row'>"
      -class_changer+=1
          
      
%section.customers
  .container
    .row
      .col-sm-12.list
        .row
          .col-sm-2
            =image_tag("/assets/clientes/boticario.jpg", :class => "img-responsive")
          .col-sm-2
            =image_tag("/assets/clientes/nautilus.jpg", :class => "img-responsive")                
          .col-sm-2
            =image_tag("/assets/clientes/colcci.jpg", :class => "img-responsive")
          .col-sm-2
            =image_tag("/assets/clientes/vivo.jpg", :class => "img-responsive")
          .col-sm-2
            =image_tag("/assets/clientes/volks.jpg", :class => "img-responsive")
          .col-sm-2
            =image_tag("/assets/clientes/porto.jpg", :class => "img-responsive")
