%section.content-header
  %h1
    Categorias
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Home
    %li.active Categorias


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title Editar Categoria
        / /.box-header
        / form start
        = render 'form'
      

      %p
        = link_to t("back_list"), admin_categories_path, :class => "btn btn-default"
        = link_to t("show"), [:admin, @category], :class => "btn btn-default"