%section.content-header
  %h1
    Categoria
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Home
    %li.active Categoria


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title Nova Categoria
        / /.box-header
        / form start
        = render 'form'
      

      %p
        = link_to t("back_list"), admin_categories_path, :class => "btn btn-default"
        