/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

body
{
  font-family: 'Roboto', sans-serif;
}
.cycle-slideshow{
	position: relative;
}
.margin-bottom-40{
	margin-bottom:40px;
}
.margin-bottom-60{
	margin-bottom:60px;
}
.text-uppercase{
	text-transform: uppercase;
}
header
{
  background-color:#ffffff;
  min-height:103px;
  
  .logo
  {
    margin-top:14px;
  }
	.menu{
		list-style:none;
		margin-bottom:0px;
		li{
			display: inline-block;
			position:relative;
			padding:0px 15px;
			min-height: 103px;
			a{
				margin-top:40px;
				display: block;
        font-size:14px;
        color:#1ab7ea;
        text-transform:uppercase;
				text-decoration:none;
			}
			
			ul{
				
				position:absolute;
				top:103px;
				z-index: 10000;
				background-color: #1ab7ea;
    		margin: 0px;
    		padding: 0px;
				display:none;
				left: 0px;
				
				li{
					display:block;
					width:300px;
					min-height: 0px;
					text-align: left;
					a{		
						padding: 10px 0px;
						margin: 0px;
						margin-top: 1px;			
						color:#ffffff;
						font-weight: normal;
					}
				}
				li:hover{
					background-color: #ffffff;
					a{
						color:#1ab7ea;
					}	
				}
			}
			
		}	
		li:hover
		{
			background-color:#1ab7ea;

			a{
				color:#ffffff;
			}
			ul{
				display:block;
			}
		}
	}
  #minimenu{

		margin-bottom: 0px;
		margin-top: 15px;
		
		.nav-bar{
			margin: 0px 0px;
		}
		
		li{
			border-bottom: 1px solid #c6c6c6;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}

section.highlight
{
  .fixed-highlight{
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform:translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);				
		transform: translateX(-50%);	
	}
  #slides
  { 
	width: auto !important;
	max-width: 960px;
    margin:auto;
  }
  #nav-pages
  {
	z-index: 5000;
	position: relative;
	top: -25px;
	width: 100%;	
	height: 8px;
	text-align: center;
  }
	#nav-pages a
	{
		width:8px;
		height:8px;
		background-image:url('/assets/btn-cycle.png');
		text-decoration: none;
		display: inline-block;
		margin: 0px 2px
	}                         
	
	#nav-pages a.activeSlide
	{
		background-image:url('/assets/btn-cycle-active.png'); 
	}
	.show_text_highlight		
	{
		position:absolute;
		top: 50%;
		left:50%;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		/*margin-left: -585px;*/
		p.text-highlight
		{
			/*margin-top: 125px;*/
			color:#ffffff;
			font-size:38px;
			
		}	
		.what_we_do{
			font-size:2em !important;
		}
		p.text-highlight.subtitle
		{
			margin-top: 15px;
			font-size:18px;
		}


		
		
	}
	
  
}

section.highlight-thumb
{
	.container-fluid{
		background-color:#1ab7ea;
	}
	.show_thumb_box{
		float:left;
		height: 180px;
		width:193px;
		color:#b3def7;
		font-size:12px;
		text-transform: uppercase;
		padding: 25px 15px 0px 15px !important;
		p{
			display: table-cell;
			vertical-align: middle;
			height:80px;
			width:163px;
			font-size: 13px;
			font-weight: 900;
		}
	}
		.img_thumbnail_shadow{
			display:none;
		}
		.cycle-pager-active{
			background-color: #b3def7;
			color:#1ab7ea;
		}
		.cycle-pager-active .img_thumbnail_shadow{
			display:block;
		}
		.cycle-pager-active .img_thumbnail{
			display:none;
		}

	
}
section.noticias
{
  padding:70px 0px 70px 0px;
  background-color:#e7e7e8;
  position:relative; 
  
  form
  {
    .input-busca
    {
      font-size:18px;
      color:#cbcbcb;
      border:none;
      border-radius: 0px;
      box-shadow: inset 0 0px 0px rgba(0,0,0,0);
      height:60px;
      
      background-color:#f9f9f9;
      background-image:url("/assets/ico-lupa.jpg");
      background-repeat:no-repeat;
      background-position:right center;
    }
  }
  
  #CleanSearch
  {
    font-size:12px;
    background-color:transparent;
    border:none;
    text-decoration:underline;
    color:#569ec7;
  }
  
  .article_show{
      min-height:160px;
  }
  .image_box{
		padding-right: 0px;
	}
  .items
  {
    padding:30px 0px 30px 0px;
    
    h2
    {
      font-size:24px;
      color:#1ab7ea;
    }
    a
    {
      font-size:12px;
      color:#6c6c6c;
    }
    
    h2
    {
      display:inline;
    }  
  }
	#paginate{
		text-align: center;
		border-bottom: 1px solid #6c6c6c;
		border-top: 1px solid #6c6c6c;
		font-size:18px;
		.pagination{
			a{
				color:#6c6c6c;
				margin: 0px 13px;
				text-decoration:none;
			}
			.current{
				color:#1ab7ea;
				margin: 0px 13px;
			}
			.disabled{
				color:#b6b6b6;
			}
			a, .current{
				cursor:pointer;
			}
		}
	}
}

section.lightbox
{
  padding:30px 0px 30px 0px;
  display:block;
  width:100%;
  height:auto;
  min-height:100%;
  background-image:url("/assets/bg-noticia.png");
  z-index:10000;

  h1
  {
    font-size:24px;
    color:#fff;
  }
  
  span
  {
    position:relative;
    top:-10px;
    font-size:14px;
    font-weight:700;
    color:#fff;
  }
  
  p
  {
    font-size:12px;
    color:#a4a5a8;
  }
  
  a
  {
    font-size:24px;
    color:#979395;
  }
  
  .hashtag
  {
    font-size:12px;
    color:#cb7fbc;
  }
}

section.interna{
	.container-fluid{
		background-color:#ececec;
	}
	p.breadcrumb{
		color:#1ab7ea;
		font-size:10px;
		background-color:#ececec;
		margin-top: 20px;
	}
	p.text{
		color:#6c6c6c;
		font-size:16px;
	}
}
section.interna#contact{
	h1{
		font-size:21px;
		color:#1ab7ea;
		margin-top: 0px;
	}
	.btn-send{
		padding: 5px 49px;
		background-color: #1c8bb1;
		border-color: #1c8bb1;
		color: #fff;
	}
	.container{
		padding-bottom: 65px;
	}
	textarea{
		height:204px;
	}
	#location{
		p{
			padding-top: 6px;
			padding-bottom: 6px;
		}
		p.first{
			padding-top: 22px;
		}
		img{
			margin-right:10px;
		}
	}
}
section.interna#about_us{
	#img_about{
		margin-top:120px;
		margin-bottom:120px;
	}
}
section.interna#services{
	h2{
		color:#1ab7ea;
		font-size:18px;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	.service-title{
		color: #1ab7ea;
		position:absolute;
		left: 35px;
		top:19px;
	}
	h3{
		color:#1ab7ea;
		font-size:16px;
	}
	.show-service p{
		color:#6c6c6c;
	}
	.margin-top-20{
		margin-top:60px;	
	}
	
	#show_services{
		min-height:370px;
		.col-md-3{
			margin-top:70px;
			margin-bottom:70px;
		}
		h3{
			color:#6c6c6c;
			font-size:16px;
		}
		
	}

	@media (max-width:991px) {
		.img_arrow{
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}
section.interna#customer{
	.show-customer{
		padding-bottom:30px;
	}
	.customer-title{
		color: #1ab7ea;
		position:absolute;
		left: 35px;
		top:19px;
	}
	.customer-logo{
		/*padding: 30px 0px 30px 0px;*/
		width: 100%;
		height:120px;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
	}
	.customer-description{
		color: #6c6c6c;
		font-size:15px;
	}
	.presentation{
		color: #1ab7ea;
		font-size:18px;
		padding: 20px 0px 20px 0px;
	}
	.customer-performed{
		color: #6c6c6c;
		font-size:15px;	
	}
}


section.servicos
{
  //background-color:#e0e0e2;
  padding:70px 0px 70px 0px;
  background-image:url('/assets/template/bg_servicos_novo.jpg');
  //background-repeat:no-repeat;
  
  .highlight_servicos
  {
      min-height:170px;
      padding-bottom: 25px;
      padding-top: 25px;
  }
  
  
  //.highlight_servicos:hover
  //{
  //    background-color: white;
  //}
  
  .image_servicos
  {
      padding-right: 0px;
  }
  
  
  
  h1
  {
    font-size:18px;
    color:#569ec7;
   	font-weight: bold;
   	margin-top: 0px;

  }
  
  p
  {
    font-size:11px;
    color:#676767;
    min-height:60px;
  }
  
  a
  {
    font-size:11px;
    color:white;
    //color:#569ec7;
    float:right;
  }
  
  ul
  {
    margin:0px;
    padding:0px;
    
    li
    {
      list-style:none;

      a
      {
        color:#a4a5a8;
        font-size:12px;
      }
      a:hover
      {
        color:#1fa9cb;
      }
    }
  }
  .btn_mt
  {
    background-image:url('/assets/btnMT.jpg');
    background-repeat: no-repeat;
    width: 61px;
    height: 27px;
    padding-top: 5px;
    padding-left: 5px;
  }
  
}

section.empresa
{
  .highlight-empresa
  { 
	height:auto;
    max-height:252px;
  }
	.image{
		padding:0px;
		background-color: #081219;
	}
  
  .sobre
  {
    background-position:center bottom;
    background-repeat:repeat-x;
    background-color:#305f6f;
    background-image:url("/assets/bg-empresa.jpg");
  }
  p{
    font-size:14px;
    color:#e7e7e8;
  }
/*
  blockquote {
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #96d6fb;
    border:none;
    text-align:center;
  }
*/  
  blockquote {
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1;
    position: relative;
    border:none;
    text-align:center;
  }
  blockquote p{
    font-size: 18px;
    font-style: italic;
    color: #96d6fb;
  }
  
  blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: 30px;
    top: -20px;
    color: #668790;
  }
  
  blockquote cite {
    color: #00ade9;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }

  blockquote cite:before {
  content: "\2014 \2009";
  } 

  blockquote:after {
    display: block;
    content: "\201D";
    font-size: 80px;
    position: absolute;
	right: 30px;
    color: #668790;
  }

  .principios
  {
  
    
    //background-color:transparent;
    background-image: url("/assets/template/Fundo-MtPlusApr.jpg");
    bakcground-position: 0px 200px;
    
    .top-highlight
    {
      width: 100%;
      height: 160px;
      z-index: 1;
      background-color: gray;
      position: absolute;
      opacity: 0.2;
      margin-left:-10px
    }
    .top-text
    {
      z-index:2
    }
    
    h2
    {
      font-size:24px;
      color:#569ec7;
    }
    
    p
    {
      font-size:12px;
      color:#a4a5a8;
    }
    
    .missao
    {
      padding-top:30px;
      padding-bottom:40px;
      background-color:transparent;
      background-position:center center;
    }
    
    .visao
    {
      padding-top:30px;
      padding-bottom:40px;
      background-color:transparent;
      background-position:center center;
    }
    
    .valores
    {
     //padding-top:70px;
      background-color:transparent;
     // background-image:url("/assets/template/bg-principios1.jpg");
      background-position:center center;
      padding-left: 45px;
      .linhatwo
      {
          margin-bottom: 15px !important;
          margin-top: 10px !important; 
      }
      
      .linha-padding
      {
          padding: 0px 10px 0px 10px;
      }
      
      .half-column
      {
          margin-left:12.5%;
          
      }     
      
      
      h3
      {
        font-size:14px;
        color:#ffffff;
      }
    }
  }
}

.padding-top-bot-70
{
  padding:70px 0px 70px 0px;
}

section.error
{
  padding:50px 0px 50px 0px;
  background-color:#e7b0b0;
  
  h2
  {
    color:#aa8888;
    font-size:14px;
  }
  p
  {
    color:#aa8888;
    font-size:12px;	
  }
  ul
  {
	list-style-type: none;
  }
  li
  {
    color:#aa8888;
    font-size:10px;	
  }
}



section.contato
{
  padding:70px 0px 70px 0px;
  background-color:#e7e7e8;
  
  h1
  {
    color:#569ec7;
  }

  input,select, textarea
  {
    display:inline-block;
    border:none;
    border-radius: 0px;
    background-color:#d3d3d3;
    color:#888787;
    font-size:24px;
    margin-bottom:15px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  }
  
  input,select
  {
    height:60px;
  }
  
  textarea
  {
    height:175px;
  }
  
  .form-cem
  {
    width:100% !important;
  }

  .form-cinq
  {
    width:49.89% !important;
  }

  .form-trinta
  {
    width:33% !important;
  }
}

footer
{
  background-color: #e7e7e8;
  
  .infos
  {
    padding: 23px 0px 22px 0px;
    background-color:#383838;
    
    h3
    {
      font-size:14px;
      color:#1aa9b8;
    }
    
    p
    {
      font-size:14px;
      color:#fff;
    }
    
    .sato7
    {
      margin-top:20px;
    }
    .email
    {
      font-size:18px;
      color:#fff;
      
      img
      {
        margin-top:20px;
        margin-right:10px;
        margin-bottom:28px;
      }
    }
  }
}


