/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require sprite
 */
$vermelho:#980101;
$vermelhoE:#600000;
$branco:#ffffff;
$cinzaC:#898989;
$cinzaE:#666666;
$cinzaM:#999999;
$preto:#000000;

*
{
  font-family: 'Open Sans', sans-serif;
  color:#666666;
}

body
{
  
}

#menu-principal
{
  a
  {
   font-family: 'Open Sans Condensed';
   font-weight:700;
   color:$branco;
   text-transform:uppercase;
  }
  
  a:hover
  {
    background-color:transparent;
    color:$vermelho;
  }
  
  .dropdown-menu
  {
    a
    {
      color:$preto;
    }
    
    a:hover
    {
      background-color:transparent;
      color:$vermelho;
    }
  }
}

.menuprincipal button.navbar-toggle
{
  width: 100%;
  color: #d4d5d5;
  background-color: #fff;
}

.menuprincipal button.navbar-toggle .icon-bar
{
  background-color: #d4d5d5;
  margin:4px auto 0px;
}

header
{
  margin:40px 0px;
  
  .form-control
  {
    font-family: 'Open Sans Condensed';
    height:45px;
    padding:0px 30px 0px 50px;
    font-weight:300;
    font-size:24px;
    border:1px solid $cinzaC;
    color:$cinzaE;
    border-radius:0px;
    text-transform:uppercase;
    
    background-image:url("/assets/template/bg-search.png");
    background-repeat:no-repeat;
    background-position:right center;
  }
  
  .header-info
  {
    margin-top:12px;
    
    p
    {
      font-family: 'Open Sans Condensed';
      font-weight:300;
      font-size:16px;
      color:$cinzaM;
    }
    
    span
    {
      color:$cinzaM;
      font-size:13px;
    }
    
    span.phone
    {
      font-size:22px;
    }
  }
}


section.menu
{
  background-color:rgba(0,0,0,0.85);
}

section.highlight
{
  border-bottom:23px solid $preto;
}

section.services
{
  margin:60px 0px;
  
  .sprite
  {
    display:block;
    margin:auto;
    margin-bottom:30px;
  }
  
  .service-box
  {
    padding:30px 20px;
    min-height:285px;
    margin-bottom:30px;
    cursor:pointer;
    
    a
    {
      margin-top:35px;
      color:$branco;
      font-weight:300;
      font-size:36px;
      font-family: 'Oswald', sans-serif;
      text-transform:uppercase;
    }
    
    a:hover
    {
      text-decoration:none;
    }
  }
  
  .service-box.impressao-digital
  {
    background-color:#f64b3d;
  }
  
  .service-box.construcao
  {
    background-color:#f68d9c;
  }
  
  .service-box.corte-laser
  {
    background-color:#f82e54;
  }
  
  .service-box.industria
  {
    background-color:#9c1c4d;
  }
  
  .service-box.toldos
  {
    background-color:#ef232c;
  }
  
  .service-box.eventos
  {
    background-color:#f27f0c;
  }
  
  .service-box.comunicacao-interna
  {
    background-color:#f16a2d;
  }
  
  .service-box.veiculos
  {
    background-color:#d7b68e;
  }
}

section.cases
{
  margin:60px 0px;

  h3
  {
    font-size:30px;
    color:$cinzaE;
  }
  
  a
  {
    padding:25px 0px 0px 0px;
    font-weight:300;
    color:$cinzaE;
    font-size:16px;
  }
  
}



footer
{
  section.footer
  {
    margin:0px 0px 20px 0px;
    padding-top:20px;
    border-top:13px solid #e7999b;
    background-color:#ce3236;
  
    p
    {
      font-size:12px;
      color:$branco;
    }
    
    ul
    {
      padding:0px;
      margin:30px 0px;
      
      li
      {
        list-style-type:none;
        font-size:13px;
        text-transform:uppercase;
        font-weight:700;
        
        a
        {
          color:$branco;
        }
        
        a:hover
        {
          color:$branco;
        }
      }
    }
  
    .form-control
    {
      margin-bottom:8px;
      border-radius:0px;
      font-size:12px;
      font-weight:600;
      color:$branco;
      background-color:transparent;
    }
    
    .submit
    {
      font-size:14px;
      color:#ce3236;
      font-weight:700;
      text-transform:uppercase;
      border:none;
      background-color:$branco;
    }
    
    .contacts
    {
      p
      {
        font-size:24px;
        font-weight:600;
        color:$branco;
      }
    }
  }
  
  section.copyright
  {
    height:auto;
    min-height:60px;
    
    p
    {
      font-size:12px;
      font-weight:600;
      color:#ce3236;
    }
  }
}

/*INTERNA TEMPLATE*/
section.interna
{
  margin-top:100px;
  
  h1
  {
    font-size:53px;
    font-weight:700;
    text-transform:uppercase;
    color:$preto;
  }
  
  h2
  {
    color:$preto;
    font-size:30px;
    font-weight:300;
    text-transform:uppercase;
    margin-bottom:35px;
  }
  
  .container-fluid
  {
    border-bottom:3px solid $preto;
    margin-bottom:70px;
  }
  
  .imagem-principal
  {
    margin-bottom:80px;
  }
  
  .description
  {
    margin-top:80px;
    margin-bottom:80px;
    h3
    {
      text-transform:uppercase;
      font-size:24px;
      font-weight:700;
      color:$preto;
    }
    
    p
    {
      font-size:18px;
      font-weight:300;
      color:$preto;
    }
  }
}

/*BOOTSTRAP OVERRIDE*/

.navbar
{
  margin-bottom:0px;
}

/*EXTRAS*/
.white
{
  color:$branco;
}

.shadow-left
{
  box-shadow: -550px 0 #cbcbcb ;
  -moz-box-shadow: -550px 0 #cbcbcb;
  -webkit-box-shadow: -550px 0 #cbcbcb;
  -ms-box-shadow: -550px 0 #cbcbcb;
  -o-box-shadow: -550px 0 #cbcbcb;
}

.shadow-right
{
  box-shadow: 550px 0 #cbcbcb ;
  -moz-box-shadow: 550px 0 #cbcbcb;
  -webkit-box-shadow: 550px 0 #cbcbcb;
  -ms-box-shadow: 550px 0 #cbcbcb;
  -o-box-shadow: 550px 0 #cbcbcb;
}