.sprite
{
  background-image:url("/assets/template/sprite.png");
  background-repeat:no-repeat;
  display:inline-block;
  vertical-align:middle;
  text-indent:-9999px;
}

.sprite.logo
{
  width:229px;
  height:80px;
  background-position:0px 0px;
}

.sprite.logo-white
{
  width:229px;
  height:74px;
  background-position:0px -80px;
  margin-bottom:40px;
}

.sprite.logo-sato7
{
  width:80px;
  height:26px;
  background-position:-290px -124px;
}

.sprite.phone-rounded
{
  width:50px;
  height:50px;
  background-position:-240px -70px;
}


.sprite.fb-rounded
{
  width:50px;
  height:50px;
  background-position:-290px -70px;
}

.sprite.fb-square
{
  width:50px;
  height:47px;
  background-position:-281px 0px;
}
.sprite.fb-square:hover
{
  background-position:0px -336px;
}

.sprite.ig-rounded
{
  width:50px;
  height:50px;
  background-position:-402px -70px;
}
.sprite.ig-square
{
  width:50px;
  height:47px;
  background-position:-332px 0px;
}
.sprite.ig-square:hover
{
  background-position:-51px -336px;
}

.sprite.tw-rounded
{
  width:50px;
  height:50px;
  background-position:-346px -70px;
}
.sprite.tw-square
{
  width:50px;
  height:47px;
  background-position:-384px 0px;
}
.sprite.tw-square:hover
{
  background-position:-103px -336px;
}

.sprite.tel-gray
{
  width:28px;
  height:28px;
  background-position:-250px -33px;
}

.sprite.map
{
  width:18px;
  height:27px;
  background-position:-256px -123px;
}

.sprite.search
{
  width:31px;
  height:30px;
  background-position:-250px -0px;
}


.sprite.impressao-digital
{
  width:115px;
  height:66px;
  background-position:-0px -160px;
}
.sprite.construcao
{
  width:79px;
  height:75px;
  background-position:-117px -161px;
}
.sprite.industria
{
  width:81px;
  height:75px;
  background-position:-208px -248px;
}
.sprite.corte-laser
{
  width:84px;
  height:88px;
  background-position:-196px -154px;
}

.sprite.toldos
{
  width:79px;
  height:77px;
  background-position:-291px -154px;
}

.sprite.eventos
{
  width:99px;
  height:88px;
  background-position:-383px -152px;
}
.sprite.comunicacao-interna
{
  width:104px;
  height:94px;
  background-position:-0px -242px;
}
.sprite.veiculos
{
  width:91px;
  height:76px;
  background-position:-110px -242px;
}

