%section.interna
  .container-fluid
    .row
      .container
        .row
          %h1 category.title
          
  .container
    .row
      .col-sm-12
        %h2 subcategory.title
        
        
    .row.description
      .col-sm-12
        %h3= subcategory.subtitle
        %p
          =subcategory.description
          
          
= render :file => "layouts/_services_box.html.haml"
