%footer
  .container-fluid.infos
    .container
      .col-md-10.email
        =link_to(image_tag("ico-twitter.jpg"), "#", :target => "_blank")      #Segundo Orientação da Ana ainda não temos plano de midia para a MTPlus, está em analise.
        =link_to(image_tag("ico-facebook.jpg"), "#", :target => "_blank")     #Segundo Orientação da Ana ainda não temos plano de midia para a MTPlus, está em analise.
        contato@kattios.com.br
      .col-md-2.sato7
        %p=link_to(image_tag("sato7.gif", :style=>"width:100%;max-width:129px;"), "http://www.sato7.com.br", :target => "_blank")
