%header
  .container
    .row
      .col-sm-4
        %a.sprite.logo{:href=>"/"} ArtWorld
      .col-sm-8
        .row
          .col-sm-9
            %input.form-control{:type => "text", :placeholder => "Pesquisar por"}
          .col-sm-3.pull-right
            %a.sprite.fb-square{:href=>"http://www.facebook.com.br", :target => "_blank"} Facebook
            %a.sprite.ig-square{:href=>"http://www.facebook.com.br", :target => "_blank"} Instagram
            %a.sprite.tw-square{:href=>"http://www.facebook.com.br", :target => "_blank"} Twitter
            
        .row.header-info
          .col-sm-9.text-center
            %p Exemplo:  serviços, materiais, cores, clientes atendidos
            
          .col-sm-3.pull-right
            .sprite.tel-gray
            %span 11 
            %span.phone 4412 4455
        
%section.menu
  .container
    .row
      .col-xs-3.xs-only.pull-right
        .container-fluid.menuprincipal
          .navbar-header
            %button.navbar-toggle{"data-target" => "#menu-principal", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
  
      .col-sm-12.col-xs-12
        %nav.navbar.menuprincipal.pull-right{:role => "navigation"}
          #menu-principal.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li
                %a{:href => "/"}
                  %i.glyphicon.glyphicon-home.white

              %li
                =link_to "a empresa", about_us_path
              
              -@header_categories.each do |category|
                -if category.children.exists?
                  %li.dropdown
                    =link_to services_path(:category=>"#{category.id}"), :class=>"dorpdown-toggle", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" do
                      =category.title
                      %span.caret
                      
                    %ul.dropdown-menu
                      - category.children.each do |c|     
                        - if c.services.exists?
                          %li.dropdown
                            =link_to services_path(:category=>"#{category.id}"), :class=>"dorpdown-toggle", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" do
                              =c.title
                              %span.caret
                            %ul.dropdown-menu.dropdown-menu-right
                              - c.services.each do |s|
                                %li
                                  %a{:href => "/services/1"}=s.title
                -else
                  -if category.services.exists?
                    %li.dropdown
                      =link_to services_path(:category=>"#{category.id}"), :class=>"dorpdown-toggle", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" do
                        =category.title
                        %span.caret
                      %ul.dropdown-menu
                        - category.services.each do |s|
                          %li
                            %a{:href => "/services/1"}=s.title

              
              

              /%li
              /  =link_to("interno", "#");
              /%li
              /  =link_to("envelopamento", "#");
              /%li
              /  =link_to("toldos e coberturas", "#");
              /%li
              /  =link_to("feiras e eventos", "#");
              /%li
              /  =link_to("mercado", "#");
              %li
                =link_to("nossos trabalhos", "/cases");
              /%li
              /  =link_to("contato", "#");
