%section.services
  .container
    .row
      .col-sm-3.col-xs-6
        .col-sm-12.service-box.impressao-digital.text-center
          .sprite.impressao-digital
          %a Impressão digital
      
      .col-sm-3.col-xs-6
        .col-sm-12.service-box.construcao.text-center
          .sprite.construcao
          %a construção e arquitetura
      
      .col-sm-3.col-xs-6
        .col-sm-12.service-box.corte-laser.text-center
          .sprite.corte-laser
          %a corte a laser
      
      .col-sm-3.col-xs-6
        .col-sm-12.service-box.industria.text-center
          .sprite.construcao
          %a indústria
          
          
      .col-sm-3.col-xs-6
        .col-sm-12.service-box.toldos.text-center
          .sprite.toldos
          %a toldos e coberturas

      .col-sm-3.col-xs-6
        .col-sm-12.service-box.eventos.text-center
          .sprite.eventos
          %a eventos

      .col-sm-3.col-xs-6
        .col-sm-12.service-box.comunicacao-interna.text-center
          .sprite.comunicacao-interna
          %a comunicação interna

      .col-sm-3.col-xs-6
        .col-sm-12.service-box.veiculos.text-center
          .sprite.veiculos
          %a sinalização de veículos